*.pyc
*~
bin/*
parts/*
develop-eggs/*
src/roptimizer.egg-info/*
instance/*
data/*
python/*
eggs/*
development.db
tags
TAGS
ID
.installed.cfg
coverage/*
backup/*
performance.log
.coverage
*.swp
var/log/*
*.pt.py
*#
.#*
