[buildout]
extends = versions.cfg
versions = versions
develop = .
parts = pil roptimizer test tags omelette coverage
unzip = true
newest = false
find-links = http://download.zope.org/distribution
             http://pow.lt/eggs

[pil]
recipe = zc.recipe.egg:custom
egg = PILwoTk
library-dirs = /usr/lib/i386-linux-gnu

[roptimizer]
recipe = zc.recipe.egg
eggs=
  PasteScript
  pyramid
  roptimizer
  nose
interpreter = py

[coverage]
recipe = zc.recipe.egg
eggs = coverage
       zope.testrunner
       ${roptimizer:eggs}

[tags]
recipe = z3c.recipe.tag:tags
eggs =
  roptimizer

[test]
recipe = zc.recipe.testrunner
eggs =
  roptimizer
defaults = ['--exit-with-status', '--tests-pattern', '^f?tests$|^functional$|^test_', '-v']

[omelette]
recipe = collective.recipe.omelette
eggs = ${roptimizer:eggs}
