* {
    margin: 0;
    padding: 0;
    font-family: arial, helvetica, tahoma, sans;
}

/* Header
 */


/* Footer
*/

.ui-footer {
    font-size: 16px;
}

    .ui-footer .ui-btn {
	margin-bottom: 2px;
    }

    .ui-footer b {
	margin-left: 10px;
    }


/* Content
*/

#spent-form input {
    width: 250px;
    background-color: #eee;
}

#spent-form #money {
    width: 235px;
    margin-top: 5px;
    padding-left: 20px;
    background: url("images/euro.png") no-repeat scroll 3px center #eee;
}

.center {
    margin: 10px auto;
}

.to-spend {
    width: 230px;
}
    .to-spend .counter {
	background-color: #ccc;
	border-radius: 10px;
	padding: 10px;
    }
    .to-spend .more-info {
	margin-top: 15px;
	margin-bottom: 20px;
	color: #999;
    }
    .to-spend h1 {
	font-size: 42px;
	text-shadow: 2px 2px #999;
    }
